
.destileria-section1 {
    background-image: url(../img/BgPremios.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    .tt-destileria {
        @extend %titulogrande;
        span {
            color: #BBD1B4;
        }
    }
    .p1-destileria {
        @extend %ParrafosGenerales;
    }
    .p2-destileria {
        @extend %ParrafosGenerales;
    }
    .p3-destileria {
        @extend %ParrafosGenerales;
        padding-left: 25px;
    }
    .p4-destileria {
        @extend %ParrafosGenerales;
        padding-left: 25px;
        padding-top: 10px;
    }
}
.destileria-galeria {
    width: 100%;
    height: 50vh;
    background-color: #161C0C;
    .img-galeria{
        @include flex (flex, left, center);
        padding-top: 80px;
        .galeria1 {
            width: 300px;
            height: auto;
        }
        .galeria2 {
            width: 338px;
            height: auto;
        }
        .galeria3 {
            width: 337px;
            height: auto;
        }
        .galeria4 {
            width: 337px;
            height: auto;
        }
    }
}
.destileria-derecha {
    background-image: url(../img/BgPremios.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 40px;
    .destileria-elementos{
        padding-top: 30px;
        display: flex;
        justify-content: right;
        padding-right: 250px;
    }
    .destileria-tt2 {
        @extend %titulogrande;
        padding-top: 50px;
    }
    .destileria-p3 {
        @extend %txt-tienda;
    }
    .destileria-parrafos {
        padding-top: 30px;
        text-align: right;
        padding-right: 250px;
        flex-direction: column;
    }
    .boton4 {
        padding-top: 30px;
        display: flex;
        justify-content: right;
        padding-right: 250px;
        .buyNow4 {
            @extend %BotonComprar;
        }
        .buyNow4:hover {
            transform: scale(1.1);
        }
    }
}