
main {
    .destileria-section1 {
        background-image: url(../img/BgPremios.png);
        width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        .ele-destileria{
            width: 50%;
            height: auto;
            padding-left: 120px;
            .tt-destileria {
                @extend %titulogrande;
                span {
                    color: #BBD1B4;
                }
            }
            .p1-destileria {
                color: $color-principal;
                font-size: 18px;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                padding-top: 15px;
            }
            .p2-destileria {
                color: $color-principal;
                font-size: 18px;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
            }
        }
        .p3y4 {
            width: 40%;
            height: auto;
            padding-top: 60px;
            padding-left: 50px;
            .p3-destileria {
                @extend %ParrafosGenerales;   
            }
            .p4-destileria {
                @extend %ParrafosGenerales;    
            }
        }
    }
    .destileriaGaleria {
        background-color: #161C0C;
        width: 100%;
        height: auto;
        padding-bottom: 80px;
        .galeriaFotos {
            @include flex (flex, left, center);
            padding-top: 80px;
        }
        .foto1 {
            width: 360px;
            height: auto;
            transition: 2s;
        }
        .foto1:hover{
            transform: scale(1.2);
        }
        .foto2 {
            width: 420px;
            height: auto;
            transition: 2s;
        }
        .foto2:hover{
            transform: scale(1.2);
        }
        .foto3 {
            width: 410px;
            height: auto;
            transition: 2s;
        }
        .foto3:hover{
            transform: scale(1.2);
        }
        .foto4 {
            width: 410px;
            height: auto;
            transition: 2s;
        }
        .foto4:hover{
            transform: scale(1.2);
        }
    }
    .destileria-derecha {
        background-image: url(../img/BgPremios.png);
        width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-bottom: 40px;
        
        .destileria-elementos{
            width: 80%;
            height: auto;
            padding-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: right;
            align-items: flex-end;
            padding-left: 500px;
            .destileria-tt2 {
                @extend %titulogrande;
                span {
                    color: #BBD1B4;
                }
            }   
            .destileria-p3 {
                @extend %txt-tienda;
            }
            .buyNow4 {
                @extend %BotonComprar3;
                align-self: flex-end;
                width: 50%;
                height: auto;
            }
            .buyNow4:hover {
                transform: scale(1.1);
            }
        }
    }
}


