/*--------HEADER BOOSTRAP------*/

header {
    background-color: $color-cuaternario;
    position: sticky;
    top: 0;
    grid-area: header;
    nav {
        background-color: $color-cuaternario;
        color: $color-secundario;
        .logoGN {
            width: 150px;
            height: auto;
            margin: 5px 0px 0px 100px;
        }
        ul {
            display: flex;
            li {
                list-style: none;
                margin: 20px 0px 10px 0px;
                a {
                    text-decoration: none;
                    color:$color-secundario;
                    padding-left: 30px;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}

/* No entiendo como aplicar las clases de este header de boostrap para que bien aplicado */