
main {
    grid-area: main;
    .hero {
        background-image: url(../img/HeroBG.png);
        width: 100%;
        height: calc(100vh - 92.69px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .tituloEssential {
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 70px;
            span {
                color: #BBD1B4;
            }
        }
        .parrafo1 {
            @extend %ParrafosGenerales;
        }
        .parrafo2 {
            @extend %ParrafosGenerales;
            margin-top: 15px;
        }
        .parrafo3 {
            @extend %ParrafosGenerales;
            margin-top: 15px;
        }
        .buyNow{
            @extend %BotonGeneral;
        }
        .buyNow:hover {
            transform: scale(1.1);
        }
    }
    .botellaGin {
        width: 300px;
        height: auto;
        transition: 2s;
    }
    .botellaGin:hover {
        transform: scale(1.1);
    }
    .sectionHistoria {
        background-color: #161C0C;
        @include flexWH (100%, auto, flex, center, baseline);
        .tituloHistoria {
            color: white;
            font-family: 'Bebas Neue', cursive;
            font-size: 70px;
            span {
                color: #BBD1B4;
            }
        }
        
        .h1 {
            @extend %ParrafosGenerales2;
        }
        .h2 {
            @extend %ParrafosGenerales2;
            margin-top: 20px;
        }
        .h3 {
            @extend %ParrafosGenerales3;
            padding: 10px;
            margin-top: 110px;
            margin-left: 40px;
        }
        .h4 {
            @extend %ParrafosGenerales3;
            padding: 10px;
            margin-top: 10px;
            margin-left: 40px;
        }
    }
    .video-gin {
        background-color: #161C0C;
        @include flexWH (100%, 70vh, flex, center, center);
    }
    .tituloPremios {
        @extend %titulogrande;
        text-align: center;
        padding-top: 100px;
    }
    .premios {
        background-image: url(../img/BgPremios.png);
        width: 100%;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        .premios-contenedor{
            @include flex (flex, space-evenly, center);
            padding-top: 50px;
            margin-top: 20px;
            text-align: center;
            @extend %ParrafosGenerales2;
        }
        .elaborado {
            @extend %titulogrande;
            text-align: center;
            padding-top: 50px;
        }
        .boton2 {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 50px;
            .buyNow2 {
                @extend %BotonGeneral;
            }
            .buyNow2:hover {
                transform: scale(1.1);
            }
        }            
    }
    .galeria {
        background-color: #161C0C;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        .img-galeria{
            @include flex (flex, left, center);
            padding-top: 80px;
            .galeria1 {
                width: 360px;
                height: auto;
                transition: 2s;
            }
            .galeria1:hover{
                transform: scale(1.2);
            }
            .galeria2 {
                width: 420px;
                height: auto;
                transition: 2s;
            }
            .galeria2:hover{
                transform: scale(1.2);
            }
            .galeria3 {
                width: 410px;
                height: auto;
                transition: 2s;
            }
            .galeria3:hover{
                transform: scale(1.2);
            }           
        }
        .pgaleria {
            color: #bbd1b4b2;
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            padding: 20px;
            margin-top: 25px;
            margin-left: 40px
        }
    }
}