/*---------INDEX---------*/

@media screen and (max-width:1200px) {
    .galeria {
        width: 100%;
        height: auto;
    }
    .img-galeria {
        flex-direction: column;
    }
    main .galeria .img-galeria .galeria1 {
        width: 420px;
        height: auto;
        transition: 2s;
    }
    .galeria1:hover {
        transform: scale(1.1);
    }
    main .galeria .img-galeria .galeria2 {
        width: 420px;
        height: auto;
        transition: 2s;
    }
    .galeria2:hover {
        transform: scale(1.1);
    }
    main .galeria .img-galeria .galeria3 {
        width: 420px;
        height: auto;
        padding-bottom: 10px;
        transition: 2s;
    }
    .galeria3:hover {
        transform: scale(1.1);
    }
    main .galeria .pgaleria {
        text-align: center;
        font-size: 20px;
        padding-bottom: 40px;
    }
}
@media screen and (max-width:1090px){
    main .premios .elaborado {
        padding: 20px;
    }
}

@media screen and (max-width:1015px) {
    main .botellaGin {
        width: 250px;
        height: auto;
    }

    main .sectionHistoria {
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
    }

    main .p2historia {
        margin-top: 0px;
        padding: 0;
    }

    main .p2historia .h3 {
        padding: 15px;
        margin: 0;
    }

    main .p2historia .h4 {
        padding: 10px;
        margin: 0;
    }
    main .premios .boton2 {
        padding-top: 0px;
    }
}
@media screen and (max-width: 850px) {
    main .hero {
        width: 100%;
        height: auto;
        padding-top: 40px;
    }
    main .botellaGin {
        width: 200px;
        height: auto;
        padding-top: 40px;
        padding-bottom: 30px;
    }    
}

@media screen and (max-width: 725px) {
    .ginlogofooter {
        display: none;
    }
}

@media screen and (max-width: 630px) {
    main .premios .premios-contenedor {
        display: flex;
        flex-direction: column;
    }

    .txt-footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    .buyNow2 {
        width: auto;
        height: 40px;
    }
}

@media screen and (max-width: 580px) {
    main .video-gin .video1{
        width: 400px;
        height: 315px;
    }
}

@media screen and (max-width: 450px){
    main .galeria .img-galeria .galeria1 {
        width: 300px;
        height: auto;
    }
    main .galeria .img-galeria .galeria2 {
        width: 300px;
        height: auto;
    }
    main .galeria .img-galeria .galeria3 {
        width: 300px;
        height: auto;
    }
    main .galeria .pgaleria{
        font-size: 16px;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 415px) {
    main .video-gin .video1{
        width: 300px;
        height: 215px;
    }
}

@media screen and (max-width: 350px) {
    main .hero{
        padding: 10px;
    }
    main .hero .tituloEssential{
        padding: 5px;
    }
    main .hero .parrafo1{
        padding: 10px;
        font-size: 16px;
    }
    main .hero .parrafo2{
        padding: 10px;
        font-size: 16px;
    }
    main .hero .parrafo3{
        padding: 10px;
        font-size: 16px;
    }
    main .hero .buyNow{
        font-size: 14px;
        width: auto;
    }
}
/*-----------DESTILERIA-----------*/
@media screen and (max-width:1220px) {
    main .destileriaGaleria {
        width: 100%;
        height: auto;
    }
    main .destileriaGaleria .galeriaFotos {
        flex-direction: column;
    }
    main .destileriaGaleria .galeriaFotos .foto1 {
        width: 420px;
        height: auto;
        transition: 2s;
    }
    .galeria1:hover {
        transform: scale(1.1);
    }
    main .destileriaGaleria .galeriaFotos .foto2 {
        width: 420px;
        height: auto;
        transition: 2s;
    }
    .galeria2:hover {
        transform: scale(1.1);
    }
    main .destileriaGaleria .galeriaFotos .foto3 {
        width: 420px;
        height: auto;
        padding-bottom: 10px;
        transition: 2s;
    }
    .galeria3:hover {
        transform: scale(1.1);
    }
}
@media screen and (max-width:800px) {
    main .destileria-derecha .destileria-elementos{
        padding-right: 150px;
    }
    main .destileria-derecha .destileria-parrafos {
        padding-right: 150px;
    }
    main .destileria-derecha .boton4 {
        padding-right: 150px;
    }
}
@media screen and (max-width:685px) {
    main .destileria-derecha .destileria-elementos{
        padding-right: 100px;
    }
    main .destileria-derecha .destileria-parrafos {
        padding-right: 100px;
    }
    main .destileria-derecha .boton4 {
        padding-right: 100px;
    }
}

@media screen and (max-width:570px) {
    main .destileria-derecha .destileria-elementos{
        padding-right: 70px;
    }
    main .destileria-derecha .destileria-parrafos {
        padding-right: 70px;
    }
    main .destileria-derecha .boton4 {
        padding-right: 70px;
    }
}
@media screen and (max-width:510px){
    main .destileria-section1 .tt-destileria{
        text-align: center;
    }
    main .destileria-section1{
        padding: 10px;
    }
    main .destileria-section1 .p1-destileria{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }
    main .destileria-section1 .p2-destileria{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }
    main .destileria-section1 .p3-destileria{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }
    main .destileria-section1 .p4-destileria{
        padding: 0px;
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (max-width:440px){
    main .destileriaGaleria .galeriaFotos .foto1 {
        width: 380px;
        height: auto;
        transition: 2s;
    }
    .galeria1:hover {
        transform: scale(1.1);
    }
    main .destileriaGaleria .galeriaFotos .foto2 {
        width: 380px;
        height: auto;
        transition: 2s;
    }
    .galeria2:hover {
        transform: scale(1.1);
    }
    main .destileriaGaleria .galeriaFotos .foto3 {
        width: 380px;
        height: auto;
        padding-bottom: 10px;
        transition: 2s;
    }
    .galeria3:hover {
        transform: scale(1.1);
    }
}
@media screen and (max-width:400px){
    main .destileriaGaleria .galeriaFotos .foto1 {
        width: 300px;
        height: auto;
        transition: 2s;
    }
    main .destileriaGaleria .galeriaFotos .foto2 {
        width: 300px;
        height: auto;
        transition: 2s;
    }
    main .destileriaGaleria .galeriaFotos .foto3 {
        width: 300px;
        height: auto;
        padding-bottom: 10px;
        transition: 2s;
    }
    main .destileria-derecha .destileria-p3 {
        font-size: 15px;
    }
    main .destileria-derecha .boton4 .buyNow4{
        font-size: 14px;
        width: 50%;
    }
}


/*------- COMPRAR AHORA MEDIA------*/
@media screen and (max-width: 1100px) {
    .tiendas-compra1 {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    .tiendas-compra2 {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .tiendas-compra3 {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    
    .titulo-tienda2 {
        padding-top: 40px;
    }
    .titulo-tienda3 {
        padding-top: 40px;
    }
    .titulo-tienda5 {
        padding-top: 40px;
    }
    .titulo-tienda6 {
        padding-top: 40px;
    }
    .titulo-tienda8 {
        padding-top: 40px;
    }
    .titulo-tienda9 {
        padding-top: 40px;
    }
    .boton-contactar9 {
        margin-bottom: 40px;
    }
}

/*--------------HISTORIA----------*/
@media screen and (max-width:1220px) {
    .historia-elementos{
        flex-direction: column;
    }
    .p1-historia{
        margin-top: 40px;
    }
    .boton-historia{
        margin-top: 30px;
        padding-bottom: 40px;
    }
}

@media screen and (max-width:920px) {
    .paginaHistoria{
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }
    .elementosH{
        padding-left: 20px;
    }
    .buyNow3{
        width: 30%;
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    .elementosH{
        padding-left: 30px;
    }
}

@media screen and (max-width: 600px) {
    .Hvideo{
        width: 500px;
        height: 315px;
    }
}

@media screen and (max-width: 540px) {
    .Hvideo{
        width: 450px;
        height: 315px;
    }
}

@media screen and (max-width: 480px) {
    .Hvideo{
        padding: 30px;
    }
}

/*--------DESTILERIA----------*/

@media screen and (max-width:1000px) {
    .destileria-section1{
        flex-direction: column;
    }
}

@media screen and (max-width:800px) {
    .destileria-elementos{
        padding-right: 150px;
    }
    .destileria-parrafos{
        padding-right: 150px;
    }
    .boton4{
        padding-right: 150px;
    }
}

@media screen and (max-width:600px) {
    .destileria-elementos{
        padding-right: 70px;
    }
    .destileria-parrafos{
        padding-right: 70px;
    }
    .boton4{
        padding-right: 70px;
    }
}

@media screen and (max-width:530px) {
    .destileria-elementos{
        padding-right: 20px;
    }
    .destileria-parrafos{
        padding-right: 20px;
    }
    .boton4{
        padding-right: 20px;
    }
}

/*-------------CONTACTO----------*/

@media screen and (max-width:1050px) {
    .contacto-parrafo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .contacto-botella{
        display: none;
    }
    .form{
        padding-right: 0;
    }
    .contacto-parrafo-elementos {
        padding-left: 0px;
    }
}

@media screen and (max-width:480px) {
    .form-contenedor{
        width: 350px;
        height: auto;
    }
    
}
