
$color-principal: #ffffff;
$color-secundario: #BBD1B4;
$color-terciario: #bbd1b4b2;
$color-cuaternario: #2F3925;

$font-size:
12px,
16px,
18px,
70px;

$boton:(
bg-boton:#5E9E46,
font-weight: bold,
font-size: 15px,
color: white,
border-radius: 50px,
transition: all 0.9s,
text-align: center,
transition2: 1s,
);

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

%BotonGeneral{
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: #5E9E46;
    border-radius: 50px;
    border: none;
    transition: all 0.9s;
    text-align: center;
    width: 35%;
    height: auto;
    box-shadow: none;
    transition: 1s;
}

%BotonComprar{
    text-decoration: none;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background: #5E9E46;
    border-radius: 50px;
    border: none;
    transition: all 0.9s;
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: none;
    transition: 1s;
}

%BotonComprar2{
    text-decoration: none;
    margin-top: -20px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: #5E9E46;
    border-radius: 50px;
    border: none;
    transition: all 0.9s;
    text-align: center;
    width: 15%;
    height: 40px;
    box-shadow: none;
}

%BotonComprar3{
    text-decoration: none;
    margin-top: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    background: #5E9E46;
    border-radius: 50px;
    border: none;
    transition: all 0.9s;
    text-align: center;
    width: 40%;
    height: auto;
    box-shadow: none;
    transition: 1s;
}

%ParrafosGenerales{
    color: $color-secundario;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

%ParrafosGenerales2{
    color: $color-principal;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

%ParrafosGenerales3{
    color: $color-terciario;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

%ParrafosGenerales4{
    color: $color-terciario;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


%titulogrande{
    color: $color-principal;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}

%logosfooter{
    width: 40px;
    height: 40px;
    padding: 5px;
}

%tiendascompra{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

%titulotienda{
    color: $color-principal;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

%txt-tienda{
    color: $color-secundario;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

@mixin flexWH ($width, $height, $flex, $justify, $align) {
    width: $width;
    height: $height;
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}